<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NumLettersTitle</title>
</head>
<body>
    <form method="POST">
        <label>Enter your name: </label><br>
        <input type="text" name="nameInput" id="name" placeholder="Enter your name"><br>
        <input type="submit" value="Submit"><br>
    </form>

    <h3>Your name is: {{ savedName }}</h3>
    <h3>Number of letters in your name: {{ nameLength }}</h3>
    <h3>Your name backwards: {{ nameReversed }}</h3>
    <br>

    <a>Go back home</a>
</body>
</html>